<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mongoose</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
	<body>
		<div class="wrapper">
			<h1>Intro To Mongoose</h1>
			<form action="/users" method="POST">
				<label for="name">Name: </label>
				<input type="text" name="name" id="name" placeholder="Name..." required>
				<label for="age">Age: </label>
				<input type="number" name="age" id="age" placeholder="Age..." required>
				<button type="Submit">Submit</button>
			</form>
		</div>
		<div id="show_all">
			<table>
				<tr>
					<th>Name</th>
					<th>Age</th>
				</tr>
				<% for (i in person) { %>
					<tr>
						<td><%= person[i].name  %></td>
						<td><%= person[i].age  %></td>
					</tr>
				<% } %>
			</table>
		</div>
	</body>
</html>