<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cars and Cats | New</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
	<h1>Enter a new vehicle</h1>
	<form action="" method="post">
		<label for="year" >Year: </label>
		<input type="text" name="year" placeholder="Year..." >
		<label for="make" >Make: </label>
		<input type="text" name="make" placeholder="Make..." >
		<label for="model" >Model</label>
		<input type="text" model="year" placeholder="Model..." >
		<button type="submit">Submit</button>
	</form>
</body>
</html>