<div ng-controller='TeamsController'>
	<form ng-submit='addTeam()'>
		<label for='name'>Name</label>
		<input type='text' id='name' name='name' ng-model="newTeam.name" placeholder='Team Name...' required>
		<button type="submit">Add New Team</button>
	</form>
	<table>
		<thead>
			<tr>
				<th>Team Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody ng-if="teams">
			<tr ng-repeat='team in teams track by $index'>
				<td>{{ team.name }}</td>
				<td>
					<button ng-click='deleteTeam($index)'>Remove Team</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>