<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mongoose Dashboard | Individual pack member</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
	<body>
		<div class="wrapper">
			<div class="show_all">
				<table>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Length</th>
						<th>Height</th>
					</tr>
					<tr>
						<td><%= individual[0].name  %></td>
						<td><%= individual[0].age  %></td>
						<td><%= individual[0].length  %></td>
						<td><%= individual[0].weight  %></td>
					</tr>
				</table>
				<form action="/" method="get">
					<button type='submit'>Back</button>
				</form>
			</div>
		</div>
	</body>
</html>