<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Using Factories</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src='bower_components/angular/angular.js'></script>
</head>
<body>
	<div id="wrapper" ng-controller="product_controller">
		<form>
			<fieldset>
				<legend>Products Controller</legend>
				<label for="product_name">Product Name</label>
				<input type="text"id="product_name" name="product_name" placeholder="Product Name..." ng-model="product.name" required autofocus><br>
				<label for="product_price">Product Price</label>
				<input type="number" step="0.01" id="product_price" name="product_price" placeholder="Product Price..." ng-model="product.price" required>
				<button type="submit" ng-click="addProduct()">Add Product</button>
				<table>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
					<tbody ng-if="products">  <!-- if there is objects in products[], show td -->
						<tr ng-repeat="product in products"> <!-- Loop through objects in products -->
							<td>{{ product.name }}</td>
							<td>{{ product.price | currency:"$" }}</td>
							<td>
								<button type="submit" ng-click="deleteProduct(product)" >Delete Product</button>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</form>
	</div>
	<script type='text/javascript'>
		var app = angular.module('app', []);

		// create factory
		app.factory('productFactory', function() {
			var factory = {};
			var products = [];

			// return products
			factory.index = function(callback) {
				callback(products);
			}

			// Create new product
			factory.create = function(newProduct, callback) {
				products.push(newProduct),
				callback(products);
			}

			// Delete product
			factory.destroy = function(id, callback) {
				products.splice(id, 1);
				callback(products);
			}
			return factory;
		});

		// create controller "product_controller"
		app.controller('product_controller', ['$scope', 'productFactory', function($scope, productFactory) {
			function showProducts(data) {
				$scope.products = data;
				$scope.product = {};
			}
			// create empty array to store products
			$scope.products = {};
			$scope.product = {};

			// index
			$scope.index = function() {
				productFactory.index(showProducts);
			}
			$scope.index();

			// Create a new user
			$scope.addProduct = function() {
				productFactory.create($scope.product, showProducts)  // add product to products[]
			};

			// Delete User from users[]
			$scope.deleteProduct = function(productToDelete){
	           productFactory.destroy(productToDelete, showProducts);
	         }
		}]);
	</script>
</body>
</html>