<div>
	<h2>Sign in here</h2>
	<div id='loginErrors' ng-if='loginErrors'> <!-- show any errors in login process -->
		<div ng-repeat='error in loginErrors'>
			<p>{{ error.message }}</p>
		</div>
	</div>
	<form ng-submit='login()'>
		<fieldset>
			<legend>Login</legend>
			<label for="email">Email</label>
			<input type="email" name='email' id="email" ng-model="loginUser.email" required autofocus>
			<label for='Password'>Password</label>
			<input type='password' name='password' id='password' ng-model='loginUser.password' required>
			<button type='submit'>Login</button>
		</fieldset>
	</form>

	<h3>Sign up <a href='#/register'>here</a> for an account or head back <a href='#/'>home</a></h3>
</div>